.titulo1{
    background-color: rgb(69, 23, 132);
    color: white;
    display: flex;
    justify-content: center;
    /*font-family: 'Kolker Brush', cursive;*/
}
.titulo2{
    background-color: rgb(69, 23, 132);
    color: white;
    /*font-family: 'Rubik Bubbles', cursive;*/
    font-size: 1rem;
}
.titulo3{
    background-color: rgba(68, 23, 132, 0.558);
    color: white;
}
.contenedor{
    
    display: flex;
    justify-content: center;
}
button{
    background-color: rgb(69, 23, 132);
    color: white;
}
body{
    background-image: url(https://img.freepik.com/fotos-premium/guitarra-electrica-tremolo-pintura-neon-color-abstracto_207691-185.jpg?w=2000);
    background-size: 2000px;
}
.table{
    background-color: ;
}
.table td{
    border: 1px solid;
    text-align: center;
    
}
.table th:hover{
    color: aquamarine;
    background-color: gray;
}
.table tr{
    color: white;
    background-color: rgba(68, 23, 132, 0.558);
    
}
caption{
    color: white;
    background-color: rgba(68, 23, 132);
    font-size: 1rem;
}
.table td:hover{
    color: aquamarine;
    background-color: gray;
}